:root {
    --header-bg: #CBECFF;

    --primary: #29374E;
    --secondary: #0962E8;

    --button: #fff;
    --header-article: #fff;
    --button-bg: #0962E8;
    --icon-bg: #EFF9FF;
    --title-bg: #fff;

    --article-bg: #E9F6FF;
} 